root = true

[*.{kt,kts}]
# 앱 패키지명의 밑줄 허용
ktlint_standard_package-name = disabled
# Composable 함수의 PascalCase 허용
ktlint_function_naming_ignore_when_annotated_with = Composable
# 앱 공용 CompositionLocal 허용 목록
compose_allowed_composition_locals = LocalNavigationHelper,LocalMessageHelper,LocalObservability,LocalBizLogger,LocalScreenTracker,LocalTtiRecorder,LocalTtiPage
